In [1]:
# Comprehensions: List, Dictionary

In [7]:
data = [i for i in  range(5)]
data

[0, 1, 2, 3, 4]

In [8]:
data = [int(input("Enter value = ")) for i in  range(5)]
data

Enter value = 4
Enter value = 3
Enter value = 5
Enter value = 3
Enter value = 5

[4, 3, 5, 3, 5]

In [9]:
data = [input("Enter value = ") for i in  range(5)]
data

Enter value = Apple
Enter value = Ball
Enter value = Cat
Enter value = dog
Enter value = Fish

['Apple', 'Ball', 'Cat', 'dog', 'Fish']

In [10]:
l = [2,4,5,6,2,7,9,0,1,3,6]
data = [i for i in l if i%2==0]
data

[2, 4, 6, 2, 0, 6]

In [12]:
l = ['Apple','ball','cat',"Bus","Fish"]
data = [i for i in l if i[0].isupper()]
data

['Apple', 'Bus', 'Fish']

In [13]:
d = {i:i**2 for i in range(1,6)}
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [14]:
l = ['Apple','ball','cat',"Bus","Fish"]
d = {i:i.lower() for i in l}
d

{'Apple': 'apple', 'ball': 'ball', 'cat': 'cat', 'Bus': 'bus', 'Fish': 'fish'}

In [1]:
d = {input("Enter name = "):int(input("Enter phone = ")) for i in range(2)}
d

Enter name = ram
Enter phone = 9808778765
Enter name = Shyam
Enter phone = 90889988765

{'ram': 9808778765, 'Shyam': 90889988765}

In [2]:
import datetime as d

x = d.datetime.now()
print(x)

2022-10-19 07:29:01.154078

In [3]:
import datetime

x = datetime.datetime.now()
name = input("Enter name = ")
y = datetime.datetime.now()
print(y-x)

Enter name = aayush
0:00:07.171084

In [14]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%c"))

Wed Oct 19 07:43:00 2022

In [15]:
import os
os.listdir()

['.ipynb_checkpoints',
 'bill.csv',
 'bill.txt',
 'bonus.ipynb',
 'data.csv',
 'data.txt',
 'Day4.loop.ipynb',
 'Day5Loop.ipynb',
 'Day6Loop.ipynb',
 'dictionary.ipynb',
 'file.ipynb',
 'first_class.ipynb',
 'function.ipynb',
 'if else.ipynb',
 'inheritance.ipynb',
 'List.ipynb',
 'new_data.csv',
 'new_data1.csv',
 'oop.ipynb',
 'pandas.ipynb',
 'set.ipynb',
 'string.ipynb',
 'tuple .ipynb',
 'Untitled.ipynb',
 'Untitled1.ipynb']

In [16]:
os.remove('bill.txt')
os.listdir()

['.ipynb_checkpoints',
 'bill.csv',
 'bonus.ipynb',
 'data.csv',
 'data.txt',
 'Day4.loop.ipynb',
 'Day5Loop.ipynb',
 'Day6Loop.ipynb',
 'dictionary.ipynb',
 'file.ipynb',
 'first_class.ipynb',
 'function.ipynb',
 'if else.ipynb',
 'inheritance.ipynb',
 'List.ipynb',
 'new_data.csv',
 'new_data1.csv',
 'oop.ipynb',
 'pandas.ipynb',
 'set.ipynb',
 'string.ipynb',
 'tuple .ipynb',
 'Untitled.ipynb',
 'Untitled1.ipynb']

In [17]:
os.mkdir('newFolder')
os.listdir()

['.ipynb_checkpoints',
 'bill.csv',
 'bonus.ipynb',
 'data.csv',
 'data.txt',
 'Day4.loop.ipynb',
 'Day5Loop.ipynb',
 'Day6Loop.ipynb',
 'dictionary.ipynb',
 'file.ipynb',
 'first_class.ipynb',
 'function.ipynb',
 'if else.ipynb',
 'inheritance.ipynb',
 'List.ipynb',
 'newFolder',
 'new_data.csv',
 'new_data1.csv',
 'oop.ipynb',
 'pandas.ipynb',
 'set.ipynb',
 'string.ipynb',
 'tuple .ipynb',
 'Untitled.ipynb',
 'Untitled1.ipynb']

In [ ]:
# pandas
# request
# bs4
#plotly

In [1]:
pwd

'C:\\Users\\Aayush\\class630am'