In [1]:
# for loop
# while loop

In [2]:
# range(5)     0,1,2,3,4
# range(1,5)    1,2,3,4
# range(1,5,2)  1,3

In [4]:
for i in range(5): 
    print(i,"Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [5]:
for i in range(1,5): 
    print(i,"Hello World")

1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [6]:
for i in range(1,5,2):
    print(i,"Hello World")

1 Hello World
3 Hello World

In [4]:
for i in range(5,-1,-1):
    print(i)

5
4
3
2
1
0

In [11]:
n = int(input("Enter n = "))
for i in range(1,11):
    print(n,'*',i,'=',i*n)

Enter n = 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [13]:
for i in range(5,51,5):
    print(i)

5
10
15
20
25
30
35
40
45
50

In [14]:
 for i in range(5):
        x = int(input("Enter x = "))

Enter x = 2243
Enter x = 345
Enter x = 234
Enter x = 345
Enter x = 234

In [22]:
s = 0
n = int(input("Enter n = ")) 
for i in range(n):
    x = int(input("Enter x = "))
    s = s+x
    
print(s)

Enter n = 5
Enter x = 234
Enter x = 456
Enter x = 234
Enter x = 465
Enter x = 354
1743

In [29]:
# factorial
# 4! = 1*2*3*4
fac = 1

n = int(input("Enter n = "))
for i in range(1,n+1):
    print(fac,i)
    fac = fac*i
    
    
    print(fac)

Enter n = 5
1 1
1
1 2
2
2 3
6
6 4
24
24 5
120

In [ ]:
#sum of numbers till n
fac = 1
n = int(input("Enter n = "))
for i in range(1,n+1):
    print(fac,i)
    fac = fac+i
    
    
    print(fac)

In [38]:
s = str()
n = int(input("Enter n = ")) 
for i in range(n):
    x = input("Enter x = ")
    s = s+x+'\n'
    
    print(s)

Enter n = 3
Enter x = Apple
Apple

Enter x = Ball
Apple
Ball

Enter x = Cat
Apple
Ball
Cat