In [1]:
# Dictionary
# -Indexed
# -Duplicate or multiple data
# -Ordered
# -Mutable

In [2]:
# d = {<key>:<value>,<key>:<value>,...}

In [5]:
d = {'a':'apple','b':'ball','c':'cat'}
print(type(d))
print(d)

<class 'dict'>
{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [7]:
print(d['a'])
print(d['b'])

apple
ball

In [8]:
d = {'a':'apple','b':'ball','c':'cat','A':'apple'}
d

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'A': 'apple'}

In [10]:
d = {'a':'apple','b':'ball','c':'cat','a':'Apple'}
d

{'a': 'Apple', 'b': 'ball', 'c': 'cat'}

In [14]:
# d = dict()
d = {}
d['a'] = 'Apple'
d['b']= 'Ball'
d['c'] = 'Cat'
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [15]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    d[name] = phone
    
print(d)

Enter n = 2
Enter name = Ram
Enter phone = 9808667865
Enter name = Shyam
Enter phone = 9808667876
{'Ram': 9808667865, 'Shyam': 9808667876}

In [16]:
for i in d:
    print(i)

Ram
Shyam

In [17]:
for i in d.values():
    print(i)

9808667865
9808667876

In [18]:
for i in d.items():
    print(i)

('Ram', 9808667865)
('Shyam', 9808667876)

In [20]:
l = []
for i in d.items():
    l.append(i)
    
print(l)

[('Ram', 9808667865), ('Shyam', 9808667876)]

In [21]:
dict(l)

{'Ram': 9808667865, 'Shyam': 9808667876}

In [24]:
d = {'Ram': 9808667865, 'Shyam': 9808667876}
d['Ram'] = 9800000000
d

{'Ram': 9800000000, 'Shyam': 9808667876}

In [25]:
# del pop()
d = {'Ram': 9800000000, 'Shyam': 9808667876}
del d['Ram']
d

{'Shyam': 9808667876}

In [27]:
d = {'Ram': 9800000000, 'Shyam': 9808667876}
x = d.pop('Ram')
print(d)
print(x)

{'Shyam': 9808667876}
9800000000

In [28]:
# no + *

In [29]:
d = {'Ram': 9800000000, 'Shyam': 9808667876}
a = {'Hari':9808667643}
c = a+d
c

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [31]:
d.update(a)
print(d)

{'Ram': 9800000000, 'Shyam': 9808667876, 'Hari': 9808667643}

In [32]:
# list inside dict
d = {'Ram': [9800000000,9808334310], 'Shyam': [9808667876,9808223406]}
d

{'Ram': [9800000000, 9808334310], 'Shyam': [9808667876, 9808223406]}

In [34]:
print(d['Ram'])

[9800000000, 9808334310]

In [35]:
print(d['Ram'][0])

9800000000

In [36]:
d['Hari'] = [9867667654,9867667654]
d

{'Ram': [9800000000, 9808334310],
 'Shyam': [9808667876, 9808223406],
 'Hari': [9867667654, 9867667654]}

In [37]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_phone = int(input("Enter phone = "))
    ncell_phone = int(input("Enter phone = "))
    d[name] = [ntc_phone,ncell_phone]
    
print(d)

Enter n = 2
Enter name = Ram
Enter phone = 9808667876
Enter phone = 9843889876
Enter name = Shyam
Enter phone = 9800879987
Enter phone = 9867887876
{'Ram': [9808667876, 9843889876], 'Shyam': [9800879987, 9867887876]}

In [43]:
# dict inside list
l = [{'name':'Ram','age':45,'add':'Kathmandu'},
    {'name':'Rama','age':35,'add':'Bhaktapur'},
    {'name':'Sita','age':65,'add':'Kathmandu'}]
l[2]

{'name': 'Sita', 'age': 65, 'add': 'Kathmandu'}

In [44]:
l.append({'name':'Sarita','age':55,'add':'Kathmandu'})
l

[{'name': 'Ram', 'age': 45, 'add': 'Kathmandu'},
 {'name': 'Rama', 'age': 35, 'add': 'Bhaktapur'},
 {'name': 'Sita', 'age': 65, 'add': 'Kathmandu'},
 {'name': 'Sarita', 'age': 55, 'add': 'Kathmandu'}]

In [45]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    data = {'name':name,'age':age,'add':add}
    l.append(data)
    
print(l)

Enter n = 2
Enter name = Ram
Enter age = 78
Enter add = Kathmandu
Enter name = Shyam
Enter age = 78
Enter add = Bara
[{'name': 'Ram', 'age': 78, 'add': 'Kathmandu'}, {'name': 'Shyam', 'age': 78, 'add': 'Bara'}]

In [2]:
# dict inside dict
d = {1:{'name': 'Ram', 'age': 78, 'add': 'Kathmandu'},
    2:{'name': 'Shyam', 'age': 78, 'add': 'Bara'},
    3:{'name': 'Sita', 'age': 65, 'add': 'Kathmandu'}}
print(type(d))

<class 'dict'>

In [3]:
d[4] = {'name': 'Sabin', 'age': 35, 'add': 'Kathmandu'}
d

{1: {'name': 'Ram', 'age': 78, 'add': 'Kathmandu'},
 2: {'name': 'Shyam', 'age': 78, 'add': 'Bara'},
 3: {'name': 'Sita', 'age': 65, 'add': 'Kathmandu'},
 4: {'name': 'Sabin', 'age': 35, 'add': 'Kathmandu'}}

In [16]:
d = {}
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    d[i] = {'name':name,'age':age,'add':add}

Enter n = 2
Enter name = Ram
Enter age = 45
Enter add = Kathmandu
Enter name = Shyam
Enter age = 78
Enter add = Lalitpur

In [17]:
print(d)

{1: {'name': 'Ram', 'age': 45, 'add': 'Kathmandu'}, 2: {'name': 'Shyam', 'age': 78, 'add': 'Lalitpur'}}

In [18]:
d

{1: {'name': 'Ram', 'age': 45, 'add': 'Kathmandu'},
 2: {'name': 'Shyam', 'age': 78, 'add': 'Lalitpur'}}

In [19]:
d[1]

{'name': 'Ram', 'age': 45, 'add': 'Kathmandu'}

In [20]:
d[1]['name']

'Ram'

In [21]:
d[1]['name'] = 'Rama'
d[1]['age'] = 45
d

{1: {'name': 'Rama', 'age': 45, 'add': 'Kathmandu'},
 2: {'name': 'Shyam', 'age': 78, 'add': 'Lalitpur'}}