In [1]:
# Python Collection
# -List
# -Tuple
# -Dict
# -Set

In [2]:
# # -List
# -Indexing
# -Ordered
# -Duplicate and multiple Values
# -Mutable

In [4]:
a = ["Apple","Ball","cat","Dog","Fish"]
b = [1,2,3,4,5,6,7,8,9,0]
print(type(a))
print(a)

<class 'list'>
['Apple', 'Ball', 'cat', 'Dog', 'Fish']

In [5]:
print(len(a))

5

In [8]:
a = ["Apple","Ball","cat","Dog","Fish"]
print(a[0])
print(a[-1])

Apple
Fish

In [9]:
a = ["Apple","Ball","cat","Dog","Fish"]
print(a[0:4])

['Apple', 'Ball', 'cat', 'Dog']

In [12]:
a = ["Apple","Ball","cat","Dog","Fish"]
a[0:4:2]

['Apple', 'cat', 'Fish']

In [13]:
a = ["Apple","Ball","cat","Dog"]
b = ["Goat","Fish"]
c = a+b
print(c)

['Apple', 'Ball', 'cat', 'Dog', 'Goat', 'Fish']

In [15]:
a = ['Apple', 'Ball', 'cat', 'Dog', 'Goat', 'Fish']
a.append('Apple')
print(a)

['Apple', 'Ball', 'cat', 'Dog', 'Goat', 'Fish', 'Apple']

In [16]:
# append() insert() extend()

In [17]:
a = ['Apple', 'Ball', 'cat', 'Dog', 'Goat', 'Fish']
a.insert(1,'apple')
print(a)

['Apple', 'apple', 'Ball', 'cat', 'Dog', 'Goat', 'Fish']

In [18]:
a =['Apple', 'Ball', 'cat', 'Dog', 'Goat', 'Fish']
b = [1,2,3,4]
a.extend(b)
print(a)

['Apple', 'Ball', 'cat', 'Dog', 'Goat', 'Fish', 1, 2, 3, 4]

In [21]:
a = list()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    a.append(x)
    
print(a)

Enter n = 5
Enter x = 32
[32]
Enter x = 54
[32, 54]
Enter x = 576
[32, 54, 576]
Enter x = 24
[32, 54, 576, 24]
Enter x = 56
[32, 54, 576, 24, 56]

In [27]:
print("Sum = ",sum(a))
print("Max = ",max(a))
print("Min = ",min(a))
a.sort()
print(a)
a.reverse()
print(a)

Sum =  742
Max =  576
Min =  24
[24, 32, 54, 56, 576]
[576, 56, 54, 32, 24]

In [30]:
a = ['Zebra','Apple','Ball','Xray','apple']
a.sort()
print(a)

['Apple', 'Ball', 'Xray', 'Zebra', 'apple']

In [31]:
a = ['Zebra','Apple','Ball','Xray','apple']
for i in a:
    print(i)

Zebra
Apple
Ball
Xray
apple

In [32]:
a = ['Zebra','Apple','Ball','Xray','apple']
for i in a:
    if i != 'Ball':
        print(i)

Zebra
Apple
Xray
apple

In [38]:
a = ['Zebra','Apple','Ball','Xray','apple']
value = input("Enter a = ")
if value in a:
    print("Yes")
else:
    print("No")

Enter a = ball
No

In [40]:
a = ['Zebra','Apple','Ball','Xray','apple']
l = len(a)
for i in range(l):
    print(a[i])

Zebra
Apple
Ball
Xray
apple

In [45]:
a = ['Zebra','Apple','Ball','Xray','apple']
l = len(a)
value = input("Enter value = ")
for i in range(l):
    if a[i].lower() == value.lower():
        print("Yes")
        break
else:
    print("No")

Enter value = sdfd
No

In [47]:
a = ['Zebra','Apple','Ball','Xray','apple']
value = input("Enter value = ")
for i in a:
    if i.lower() == value.lower():
        print("Yes")
        break
else:
    print("No")

Enter value = Apple
Yes

In [48]:
a = ['Zebra','Apple','Ball','Xray','Apple']
a.index('Zebra')

0

In [55]:
a = ['Zebra','Apple','Ball','Xray','Apple']
for i in range(len(a)):
    if a[i] == "Apple":
        print(i)

1
4

In [2]:
# Update values
a = ['Zebra','Apple','Ball','Xray','Apple']
a[0] = 'zebra'
print(a)

['zebra', 'Apple', 'Ball', 'Xray', 'Apple']

In [3]:
# Update values
a = ['Zebra','Apple','Ball','Xray','Apple']
a[0:2] = ['zebra','apple']
print(a)

['zebra', 'apple', 'Ball', 'Xray', 'Apple']

In [5]:
# del remove() pop()
a = ['Zebra','Apple','Ball','Xray','Apple']
del a[0]
print(a)

['Apple', 'Ball', 'Xray', 'Apple']

In [6]:
a = ['Zebra','Apple','Ball','Xray','Apple']
del a[0:2]
print(a)

['Ball', 'Xray', 'Apple']

In [9]:
a = ['Zebra','Apple','Ball','Xray','Apple']
b = a.pop(0)
print(b)
print(a)

Zebra
['Apple', 'Ball', 'Xray', 'Apple']

In [11]:
a = ['Zebra','Apple','Ball','Xray','Apple']
a.remove('Zebra')
a

['Apple', 'Ball', 'Xray', 'Apple']

In [13]:
a = ['Zebra','Apple','Ball','Xray','Apple']
l = a.count('Apple')
for i in range(l):
    a.remove('Apple')
    
print(a)

['Zebra', 'Ball', 'Xray']

In [15]:
# Neted list (list inside list)
a = [[1,2,3],
     [4,5,6],
     [7,8,9]]
print(len(a))

3

In [16]:
a = [['Ram',34,'Kathmandu'],
    ['Shyam',21,'Lalitpur'],
    ['Hari',67,'Bhaktapur']]
print(a)

[['Ram', 34, 'Kathmandu'], ['Shyam', 21, 'Lalitpur'], ['Hari', 67, 'Bhaktapur']]

In [20]:
print(a[2])

['Hari', 67, 'Bhaktapur']

In [23]:
print(a[2][0])

Hari

In [26]:
a = list()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    a.append([name,age,add])
    
print(a)

Enter n = 2
Enter name = Ram
Enter age = 23
Enter add = Kathmandu
Enter name = Shyam
Enter age = 45
Enter add = Lalitpur
[['Ram', 23, 'Kathmandu'], ['Shyam', 45, 'Lalitpur']]

In [27]:
a = [['Ram', 23, 'Kathmandu'], ['Shyam', 45, 'Lalitpur']]
a.append(['Hari',45,'Bhaktapur'])
a

[['Ram', 23, 'Kathmandu'],
 ['Shyam', 45, 'Lalitpur'],
 ['Hari', 45, 'Bhaktapur']]

In [34]:
a = [['Ram', 23, 'Kathmandu'],
 ['Shyam', 45, 'Lalitpur'],
 ['Hari', 45, 'Bhaktapur']]
name = input("Enter name = ")
for i in a:
    if name in i:
        print(i)

Enter name = Ram
['Ram', 23, 'Kathmandu']

In [41]:
a = [['Ram', 23, 'Kathmandu'],['Shyam', 45, 'Lalitpur'],['Hari', 45, 'Bhaktapur']]
a[0][0] = 'Ramesh'
a

[['Ramesh', 23, 'Kathmandu'],
 ['Shyam', 45, 'Lalitpur'],
 ['Hari', 45, 'Bhaktapur']]

In [42]:
a = [['Ram', 23, 'Kathmandu'],['Shyam', 45, 'Lalitpur'],['Hari', 45, 'Bhaktapur']]
a[0][0] = input("Enter Name")
a

Enter NameRamesh

[['Ramesh', 23, 'Kathmandu'],
 ['Shyam', 45, 'Lalitpur'],
 ['Hari', 45, 'Bhaktapur']]

In [43]:
a = [['Ram', 23, 'Kathmandu'],['Shyam', 45, 'Lalitpur'],['Hari', 45, 'Bhaktapur']]
a[0] = ['Rama',56,'Bara']
a

[['Rama', 56, 'Bara'], ['Shyam', 45, 'Lalitpur'], ['Hari', 45, 'Bhaktapur']]

In [44]:
a = [['Ram', 23, 'Kathmandu'],['Shyam', 45, 'Lalitpur'],['Hari', 45, 'Bhaktapur']]
index = int(input("Enter index = "))
a[index][0] = input("Enter Name")
a[index][1] = int(input('Enter age = '))
a[index][2] = input("Enter add = ")

Enter index = 1
Enter NameShyam Sunder
Enter age = 23
Enter add = Lalitpur

In [45]:
print(a)

[['Ram', 23, 'Kathmandu'], ['Shyam Sunder', 23, 'Lalitpur'], ['Hari', 45, 'Bhaktapur']]

In [46]:
s = str()
all_total = 0
i = 0
n = int(input("Enter n = ")) 
while i<n:
    product = input("Enter name = ")
    price = int(input("Enter product price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    all_total = all_total+total
    s = s+f"{product} {price} {quantity} {total}\n"
    i = i+1
print(s)
print("All total =",all_total)

Enter n = 2
Enter name = Apple
Enter product price = 300
Enter quantity = 2
Enter name = Banana
Enter product price = 200
Enter quantity = 3
Apple 300 2 600
Banana 200 3 600

All total = 1200

In [48]:
s

'Apple 300 2 600\nBanana 200 3 600\n'

In [50]:
s.split('\n')

['Apple 300 2 600', 'Banana 200 3 600', '']

In [62]:
bill = []
s = 'Apple 300 2 600\nBanana 200 3 600\n'
a = s.split('\n')[0:-1]
for i in a:
    x = i.split()
    print(x)
    bill.append(x)
    
print(bill)

['Apple', '300', '2', '600']
['Banana', '200', '3', '600']
[['Apple', '300', '2', '600'], ['Banana', '200', '3', '600']]