In [1]:
a = 'Python'
b = "python"
c = '''python'''
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [2]:
a = '''Ram said "He is good teacher" '''
type(a)

str

In [3]:
a = "Hello"
b = "World"
c = a+b
print(c)

HelloWorld

In [5]:
a = "Hello World\n"
print(a*2)

Hello World
Hello World

In [6]:
a = input("Enter a = ")
print(a)

Enter a = Hello
Hello

In [9]:
a = "Hello World"
a[2]

'l'

In [15]:
a = "Hello World"
b = a[:5]
c = a[5:]
print(b)
print(c)

Hello
 World

In [16]:
a = "Hello World"
b = a[0:12:2]
print(b)

HloWrd

In [17]:
name = "Ram"
age = 34
add = "Kathmandu"

info = "Hello World I am "+name+" I am from "+add+" I am "+str(age)
print(info)

Hello World I am Ram I am from Kathmandu I am 34

In [20]:
#string formatting
name = "Ram"
age = 34
add = "Kathmandu"

info = f"Hello world I am {name}. I am from {add}. I am {age}"
print(info)

Hello world I am Ram. I am from Kathmandu. I am 34

In [21]:
s = str()
all_total = 0
i = 0
n = int(input("Enter n = ")) 
while i<n:
    product = input("Enter name = ")
    price = int(input("Enter product price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    all_total = all_total+total
    s = s+f"{product} {price} {quantity} {total}\n"
    i = i+1
print(s)
print("All total =",all_total)

Enter n = 1
Enter name = Apple
Enter product price = 444
Enter quantity = 2
Apple 444 2 888

All total = 888

In [23]:
a = "Ram Shyam Hari Sita Nita Ram"
if "Ram" in a:
    print("Yes",a.count("Ram"))
else:
    print("No")

Yes 2

In [27]:
a = "Ram Shyam Hari Sita Nita Ram"
name = input("Enter name = ")
if name in a:
    print("Yes",a.count(name))
else:
    print("No")

Enter name = RAM
No

In [29]:
#string is imutable datatype
a = "Ram Shyam Hari Sita Nita Ram"
print(a.lower())
print(a)

ram shyam hari sita nita ram
Ram Shyam Hari Sita Nita Ram

In [30]:
a = "Ram Shyam Hari Sita Nita Ram"
a = a.lower()
a

'ram shyam hari sita nita ram'

In [31]:
a = "Ram Shyam Hari Sita Nita Ram"
a = a.upper()
a

'RAM SHYAM HARI SITA NITA RAM'

In [36]:
a = "Ram Shyam Hari Sita Nita Ram".lower()
name = input("Enter name = ").lower()
if name in a:
    print("Yes",a.count(name))
else:
    print("No")

Enter name = ram
Yes 2

In [39]:
a = "Ram Shyam Hari Sita Nita Ram"
a = a.replace('Ram','Rama')
print(a)

Rama Shyam Hari Sita Nita Rama

In [40]:
a = "Ram Shyam Hari Sita Nita Ram"
a = a.replace('Ram','')
print(a)

 Shyam Hari Sita Nita

In [ ]:
# WAP to search any value in a string and replace it by using replace function