In [1]:
# Tuple
# -Indexing
# -Ordered
# -Duplicate and multiple data
# -Imutable

In [2]:
a = (1,2,3,4,5)
b = tuple()
print(type(a))
print(type(b))

<class 'tuple'>
<class 'tuple'>

In [3]:
a = ("Apple","Ball","Cat","Dog","Fish")
print(a[0])
print(a[1])
print(a[2])

Apple
Ball
Cat

In [4]:
a = ("Apple","Ball","Cat","Dog","Fish")
print(a[0:4])

('Apple', 'Ball', 'Cat', 'Dog')

In [5]:
a = ("Apple","Ball","Cat","Dog","Fish")
print(a[::2])

('Apple', 'Cat', 'Fish')

In [6]:
a = ("Apple","Ball","Cat","Dog","Fish")
print(a[::-1])

('Fish', 'Dog', 'Cat', 'Ball', 'Apple')

In [7]:
a = "Python"
a[::-1]

'nohtyP'

In [8]:
a = ("Apple","Ball","Cat","Dog","Fish",)
b = ("Goat","Apple",)
c = a+b
print(c)

('Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Goat', 'Apple')

In [9]:
a = ("Apple",)
type(a)

tuple

In [10]:
# No append insert extend
# No update or edit
# No del remove pop

In [11]:
a = (1,2,3,4)
b = list(a)
del b[0]
a = tuple(b)
a

(2, 3, 4)

In [12]:
t = ()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    t = t+(x,)
    
print(t)

Enter n = 4
Enter x = 23
Enter x = 345
Enter x = 234
Enter x = 546
(23, 345, 234, 546)

In [13]:
print("Sum = ",sum(t))
print("max = ",max(t))
print("min = ",min(t))
print(sorted(t))
print(t)

Sum =  1148
max =  546
min =  23
[23, 234, 345, 546]
(23, 345, 234, 546)

In [14]:
x = ((1,2,3),
     (4,5,6),
     (7,8,9))

In [15]:
t = ()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    t = t+((name,age,add),)
    
print(t)

Enter n = 4
Enter name = 23
Enter age = 345
Enter add = 243
Enter name = 3
Enter age = 23
Enter add = 234
Enter name = 35
Enter age = 345
Enter add = 34
Enter name = 334
Enter age = 345
Enter add = 345
(('23', 345, '243'), ('3', 23, '234'), ('35', 345, '34'), ('334', 345, '345'))

In [16]:
y = list(t)
y

[('23', 345, '243'), ('3', 23, '234'), ('35', 345, '34'), ('334', 345, '345')]

In [17]:
# tuple inside list
a = [('Ram', 67, 'Kathmandu'), ('Shyam', 34, 'Bhaktapur')]

In [18]:
a.append(('Shyama', 24, 'Bhaktapur'))
print(a)

[('Ram', 67, 'Kathmandu'), ('Shyam', 34, 'Bhaktapur'), ('Shyama', 24, 'Bhaktapur')]

In [19]:
a[0] = ('Rama',34,'Bara')
a

[('Rama', 34, 'Bara'), ('Shyam', 34, 'Bhaktapur'), ('Shyama', 24, 'Bhaktapur')]

In [20]:
a[0][0] = "Ram"

TypeError: 'tuple' object does not support item assignment

In [ ]:
a = (('Ram', 67, 'Kathmandu'), ('Shyam', 34, 'Bhaktapur'))
l = []
for i in a:
    l.append(list(i))
print(l)

In [ ]:
a = [['Ram', 67, 'Kathmandu'], ['Shyam', 34, 'Bhaktapur']]
l = ()
for i in a:
    l = l + (tuple(i),)
print(l)

In [ ]:
# r = ?
# c = ?
# input x = ?
# matrix = [[1,2,3],
#          [4,5,6],
#          [7,8,9]]

# matrix = ((1,2,3),
#           (4,5,6),
#           (7,8,9))