In [1]:
!pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\users\aayush\anaconda3\lib\site-packages (2.2.9)

In [3]:
import mysql.connector  		#importing database
database = mysql.connector.connect(
    host="localhost",
    user="root",
    password=""
)
db = database.cursor() 
db.execute("CREATE DATABASE pythons2")

In [4]:
import mysql.connector  		#importing database
database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database = 'class630'
)
db = database.cursor()

In [6]:
db.execute("SELECT * FROM student")
result =db.fetchall()
result

[(1, 'Ram', 65, 89, 88, 90, 78, 412, 82.5, 'A'),
 (2, 'Rama', 65, 49, 88, 90, 78, 350, 72.5, 'B'),
 (3, 'Sashi', 56, 90, 87, 67, 65, 421, 82.5, 'A'),
 (4, 'BalaRam', 89, 45, 67, 67, 65, 421, 72.5, 'B'),
 (10, 'Sanian', 78, 90, 67, 87, 78, 412, 82.5, 'A'),
 (11, 'Sushant', 78, 90, 67, 87, 78, 412, 83.5, 'A'),
 (12, 'Shushma', 78, 90, 67, 87, 78, 412, 83.5, 'A')]

In [10]:
db.execute("SELECT * FROM student WHERE grade = 'A'")
result =db.fetchall()
result

[(1, 'Ram', 65, 89, 88, 90, 78, 412, 82.5, 'A'),
 (3, 'Sashi', 56, 90, 87, 67, 65, 421, 82.5, 'A'),
 (10, 'Sanian', 78, 90, 67, 87, 78, 412, 82.5, 'A'),
 (11, 'Sushant', 78, 90, 67, 87, 78, 412, 83.5, 'A'),
 (12, 'Shushma', 78, 90, 67, 87, 78, 412, 83.5, 'A')]

In [11]:
db.execute("SELECT * FROM student WHERE per > 80.0")
result =db.fetchall()
result

[(1, 'Ram', 65, 89, 88, 90, 78, 412, 82.5, 'A'),
 (3, 'Sashi', 56, 90, 87, 67, 65, 421, 82.5, 'A'),
 (10, 'Sanian', 78, 90, 67, 87, 78, 412, 82.5, 'A'),
 (11, 'Sushant', 78, 90, 67, 87, 78, 412, 83.5, 'A'),
 (12, 'Shushma', 78, 90, 67, 87, 78, 412, 83.5, 'A')]

In [8]:
db.execute("SELECT sn, name,total,per,grade FROM student")
result =db.fetchall()
result

[(1, 'Ram', 412, 82.5, 'A'),
 (2, 'Rama', 350, 72.5, 'B'),
 (3, 'Sashi', 421, 82.5, 'A'),
 (4, 'BalaRam', 421, 72.5, 'B'),
 (10, 'Sanian', 412, 82.5, 'A'),
 (11, 'Sushant', 412, 83.5, 'A'),
 (12, 'Shushma', 412, 83.5, 'A')]

In [12]:
sql = '''INSERT INTO `student` (`sn`, `name`, `physics`, `chemistry`, `math`, `english`, `nepali`, 
`total`, `per`, `grade`) VALUES ('14', 'Subina', '89', '76', '89', '67', '56', '412', '85.5', 'A')'''
db.execute(sql)
database.commit()

In [13]:
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    physics = int(input("Enter physics marks = "))
    chemistry = int(input("Enter chemistry marks = "))
    math = int(input("Enter math marks = "))
    english = int(input("Enter english marks = "))
    nepali = int(input("Enter nepali marks = "))
    total = physics+chemistry+math+english+nepali
    per = total/5
    if per >= 80:
        grade = 'A'
    elif per > 60:
        grade = 'B'
    elif per > 45:
        grade = 'C'
    else:
        grade = 'F'
        
    sql = f'''INSERT INTO student (name, physics, chemistry, math, english, nepali, 
    total, per, grade) VALUES ('{name}', {physics}, {chemistry}, {math}, {english}, {nepali}, 
    {total}, {per}, '{grade}')'''
    db.execute(sql)
database.commit()

Enter n = 1
Enter name = Guni
Enter physics marks = 90
Enter chemistry marks = 89
Enter math marks = 87
Enter english marks = 89
Enter nepali marks = 78